
    <main>
      <h1>About Us</h1>
      <div class="about">
        <p>
          <i>"Cubicle"</i> is a simple full stack application created assign businesses on the backend by keeping track of inventories on custom items sold locally in shops, that typically would not have a barcode like commercialized products. Overall, we believe by stores adopting our simple user friendly technique for inventory management we can reduce time spent on manual hand written inventories. Save money by keeping a better eye on inventories, especially for family owned businesses. And keep employees focused on other tasks by not wasting so much time tracking inventories.</p>
                  <p>
          <i>"Softwares"</i> used in our project are relatively common, using mongoDB as our host database to run our application with express and handlebars as our view engine. Published to github, we are 3 students studying full stack and blockchain development @ kingsland university. No copyrights, This is a simple demo project we would like to display in efforts to seek jobs as full stack developers.</p>
      </div>
    </main>

