{{!-- <div id="form">

  <div class="fish" id="fish"></div>
  <div class="fish" id="fish2"></div>

  <form id="waterform" action='/create/type' method="POST">

    <div class="formgroup" id="name-form">
      <label for="name">Product Type</label>
      <input type="text" id="name" name="name" />
    </div>



    <input type="submit" value="Create Type" />
  </form>
</div> --}}
