<div id="form">

  <div class="fish" id="fish"></div>
  <div class="fish" id="fish2"></div>

  <form id="waterform" method="post">

    <div class="formgroup" id="name-form">
      <label for="name">Username*</label>
      <input type="text" id="name" name="username" />
    </div>

    <div class="formgroup" id="name-form">
      <label for="name">Password*</label>
      <input type="text" id="name" name="password" />
    </div>


    <input type="submit" value="Login" />
  </form>
</div>