<div id="form">

  <div class="fish" id="fish"></div>
  <div class="fish" id="fish2"></div>

  <form id="waterform" action="/user/signup" method="POST">



    <div class="formgroup" id="name-form">
      <label for="name">Employee Username*</label>
      <input type="text" id="username" name="username" />
    </div>
        <div class="formgroup" id="name-form">
      <label for="name">Employee Password*</label>
      <input type="password" id="password" name="password" />
    </div>
        <div class="formgroup" id="name-form">
      <label for="name">Employee Repeat Password*</label>
      <input type="password" id="repeatPassword" name="repeatPassword" />
    </div>
    



    <input type="submit" value="Signup New Employee!" />
  </form>
</div>