<div id="form">

  <div class="fish" id="fish"></div>
  <div class="fish" id="fish2"></div>

  <form id="waterform" method="post">

    <div class="formgroup" id="name-form">
      <label for="name">Employee Name*</label>
      <input type="text" id="name" name="employeeName" />
    </div>

    <div class="formgroup" id="name-form">
      <label for="name">Employee Username*</label>
      <input type="text" id="name" name="username" />
    </div>
        <div class="formgroup" id="name-form">
      <label for="name">Employee Password*</label>
      <input type="text" id="name" name="password" />
    </div>
        <div class="formgroup" id="name-form">
      <label for="name">Employee Repeat Password*</label>
      <input type="text" id="name" name="repeatPassword" />
    </div>
    
        <div class="formgroup" id="name-form">
      <label for="name">Employee Email*</label>
      <input type="text" id="name" name="email" />
    </div>


    <input type="submit" value="Signup New Employee!" />
  </form>
</div>